/* Hide "On GitHub" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(3) {
    display: none;
}
/* div.wy-grid-for-nav > nav.wy-nav-side > div.wy-side-scroll > div.wy-side-nav-search > a::before {
				<a class="" href="https://www.aureliusenterprise.com">
				<img src="_static/pics/aureliusenterprise.png" alt="Brand logo" height="50">
			</a>
}
*/

div.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}