{% extends "!layout.html" %}

{% block extrabody %} 
<div class="">
	<div class="">
	<!--=================================
	    = Logo section				=
		=================================-->
		<div class="header">
			<div class="">
				<a class="" href="https://www.aureliusenterprise.com">
					<img src="_static/pics/aureliusenterprise.png" alt="Brand logo">
				</a>
				<a class="navbar-brand" href="https://www.models4insight.com/platform/">
					<img src="_static/pics/m4i_logo.png" alt="Brand logo">
				</a>						
			</div>
		</div>
		<!-- // END : Column //  -->
		<!--=================================
			= Navigation links				=
			=================================-->
		<div class="">
			<div class="">
				<div>
				<a class="" href="https://www.aureliusenterprise.com">
					<img src="_static/pics/aureliusenterprise.png" alt="Brand logo" height="50">
				</a>
				</div>
				<div class="">
					<a id="homeBtn" href="https://www.models4insight.com/" class="">
						<span class="">
							<i class="fa fa-home"></i>
						</span>	<span class="">Home</span>
					</a>
					<a id="platformBtn" href="https://www.models4insight.com/platform/" class="" >
						<span class=""><i class="fa fa-cloud-upload"></i></span>
						<span class="">Platform</span></a>
				</div>
			</div><!-- // END : Nav //  -->
		</div><!-- // END : Column //  -->
	</div><!-- // END : row //  -->
</div>
{% endblock %}
{% set css_files = css_files + [ "_static/css/m4i.css" ] %}